$ git
.gitignore~

# Python
__pycache__/
*.py[cod]
*$py.class

# Emacs
*.*~

# Java
*.class
*.java~
*.jar

# BlueJ
*.ctxt
*.bluej

# Temporary Data
*.json
*.csv
*.xml
*.gz

# Confidential Data
NotForGitHub.py
*.txt
